---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import Navigation from "../sections/Navigation.astro";
import Form from "../components/Form.astro";
---

<Layout title="Juan Burgueño | Front-End Developer">
  <header>
    <nav>
      <Navigation />
    </nav>
  </header>
  <main>
    <Form />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
