---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import Home from "../sections/Home.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
---

<Layout title="Juan Burgueño | Front-End Developer">
  <main>
    <Home />
    <Skills />
    <Projects />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
