---
import Layout from "../layouts/Layout.astro";
import Home from "../components/sections/Home.astro";
import Toolbox from "../components/sections/Toolbox.astro";
import Projects from "../components/sections/Projects.astro";
---

<Layout title="Juan Burgueño | Front-End Developer">
  <main>
    <Home />
    <Toolbox />
    <Projects />
  </main>
</Layout>
