---
import Layout from "../layouts/Layout.astro";
import Home from "../components/sections/Home.astro";
---

<Layout title="Juan Burgueño | Front-End Developer">
  <main>
    <Home />
  </main>
</Layout>
