<div class="h-auto w-96 rounded-md border-1 border-borderWindow">
  <div class="px-5">
    <div class="flex flex-row items-center justify-between pt-5">
      <h3 class="text-lg font-semibold tracking-title text-primary">
        Title of my project
      </h3>
      <img class="w-14" src="/logo.svg" alt="Logo of my project" />
    </div>
    <div class="pt-5">
      <p class="text-sm font-normal tracking-text text-secondary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est officia
        facere blanditiis illum vitae tempore adipisci asperiores voluptatibus
        nostrum laborum nulla commodi voluptates perferendis quae incidunt,
        laudantium deleniti atque numquam.
      </p>
    </div>
    <div class="py-5">
      <span
        class="rounded-xl border border-borderWindow bg-quinary px-2 py-0 font-serif text-xs font-normal tracking-text text-primary"
        >Astro</span
      >
    </div>
  </div>
</div>
