<section class="mx-5 w-full">
  <div class="mb-20 mt-10 flex flex-col place-items-center">
    <h2 class="mb-5 font-mono text-5xl font-bold tracking-title text-primary">
      Let's work together
    </h2>
    <p class="text-base font-normal tracking-text text-secondary">
      Get in touch and let me know how I can help you.
    </p>
  </div>
  <div class="flex justify-center">
    <form class="flex w-100 flex-col justify-center gap-y-6">
      <label class="flex flex-col">
        <span class="mb-3 text-base font-normal tracking-text text-secondary"
          >Your full name?</span
        >
        <input
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 py-4 font-mono text-sm tracking-text text-quaternary focus:outline-none"
          type="text"
          name="name"
          id="name"
          placeholder="Jane Doe"
          minlength="4"
          required
        />
      </label>
      <label class="flex flex-col">
        <span class="mb-3 text-base font-normal tracking-text text-secondary"
          >Your email? *</span
        >
        <input
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 py-4 font-mono text-sm tracking-text text-quaternary focus:outline-none"
          type="email"
          name="mail"
          id="mail"
          placeholder="hello@example.com"
          required
        />
      </label>
      <label class="flex flex-col">
        <span class="mb-3 text-base font-normal tracking-text text-secondary"
          >What's your project objective? *</span
        >
        <textarea
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 pt-4 font-mono text-sm tracking-text text-quaternary focus:outline-none"
          name="message"
          id="message"
          rows="6"
          placeholder="Tell me what you need"
          minlength="10"
          required></textarea>
      </label>
      <div class="flex justify-center">
        <button
          class="mb-20 mt-14 cursor-pointer rounded-lg bg-quaternary px-4 py-2 font-mono text-sm font-medium text-quinary hover:bg-opacity-70"
          type="submit">Send message</button
        >
      </div>
    </form>
  </div>
</section>
