<section class="w-full">
  <div class="mb-20 mt-10 flex flex-col items-center justify-center">
    <h2
      class="mb-5 inline-block bg-gradient-to-r from-primary via-secondary to-tertiary bg-clip-text pb-1 font-mono text-4xl font-bold tracking-title text-transparent sm:text-5xl"
    >
      Let's work together
    </h2>
    <p class="text-sm font-normal tracking-text text-secondary sm:text-base">
      Get in touch and let me know how I can help you.
    </p>
  </div>
  <div class="flex justify-center">
    <form class="flex w-100 flex-col justify-center gap-y-6">
      <label class="flex flex-col">
        <span
          class="mb-3 text-sm font-normal tracking-text text-secondary sm:text-base"
          >Your full name?</span
        >
        <input
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 py-2 font-mono text-sm tracking-text text-quaternary focus:outline-none sm:px-4 sm:py-4"
          type="text"
          name="name"
          id="name"
          placeholder="Jane Doe"
          minlength="4"
          required
        />
      </label>
      <label class="flex flex-col">
        <span
          class="mb-3 text-sm font-normal tracking-text text-secondary sm:text-base"
          >Your email? *</span
        >
        <input
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 py-2 font-mono text-sm tracking-text text-quaternary focus:outline-none sm:px-4 sm:py-4"
          type="email"
          name="mail"
          id="mail"
          placeholder="hello@example.com"
          required
        />
      </label>
      <label class="flex flex-col">
        <span
          class="mb-3 text-sm font-normal tracking-text text-secondary sm:text-base"
          >What's your project objective? *</span
        >
        <textarea
          class="rounded-lg border-1 border-tertiary border-opacity-35 bg-quinary px-4 py-2 font-mono text-sm tracking-text text-quaternary focus:outline-none sm:px-4 sm:py-4"
          name="message"
          id="message"
          rows="6"
          placeholder="Tell me what you need"
          minlength="10"
          required></textarea>
      </label>
      <div class="flex justify-start">
        <button
          class="mb-28 mt-3 cursor-pointer rounded-lg bg-quaternary px-4 py-2 font-mono text-sm font-medium text-quinary hover:bg-opacity-70 sm:mb-40 sm:px-4 sm:py-4"
          type="submit">Send message</button
        >
      </div>
    </form>
  </div>
</section>
