---
const { title, subtitle } = Astro.props;
---

<div class="flex flex-col items-center">
  <h1 class="font-serif text-4xl font-extrabold tracking-title text-primary">
    {title}
  </h1>
  <p class="font-serif text-lg font-medium tracking-text text-primary">
    {subtitle}
  </p>
</div>
