---
const { emoji, content } = Astro.props;
---

<div
  class="flex flex-row items-center gap-1 rounded-3xl bg-quaternary px-1 py-0 shadow-sm"
>
  <span class="rounded-2xl bg-sextenary px-1 py-0">{emoji}</span>
  <p class="text-sm font-normal tracking-text text-secondary">{content}</p>
</div>
