<div class="ml-4 flex flex-row items-center justify-start gap-3">
  <span class="h-4 w-4 rounded-full bg-window1"></span>
  <span class="h-4 w-4 rounded-full bg-window2"></span>
  <span class="h-4 w-4 rounded-full bg-window3"></span>
</div>
