---
import TerminalButtons from "../components/TerminalButtons.astro";
---

<section class="m-1 flex border-collapse flex-col items-center pt-32">
  <div
    class="flex h-10 w-[920px] flex-row items-center rounded-t-md border-1 border-borderWindow"
  >
    <TerminalButtons />
  </div>
  <div
    class="h-[401px] w-[920px] rounded-b-md border-1 border-t-0 border-borderWindow"
  >
    <div class="flex w-3/5 flex-col gap-2.5 pl-3 pt-5">
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-window2">~ </span>juanburg/
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sextenary">name: </span>"Juan Burgueño",
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sextenary">i'm: </span>"Front-End Developer",
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sextenary">description: </span>"I'm from Canelones,
        Uruguay. I focus on design and user experience, looking for a usable,
        inclusive and accessible result for all people, along with a clean and
        scalable code.",
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sextenary">github: </span>
        <a
          class="hover:text-quaternary"
          href="https://github.com/juanburg98"
          target="_blank"
          rel="noopener noreferrer">"https://github.com/juanburg98",</a
        >
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sextenary">linkedin: </span>
        <a
          class="hover:text-quaternary"
          href="https://www.linkedin.com/in/juanburg/"
          target="_blank"
          rel="noopener noreferrer">"https://www.linkedin.com/in/juanburg/"</a
        >
      </p>
    </div>
  </div>
</section>
