---
import TerminalButtons from "../components/TerminalButtons.astro";
---

<section class="my-10 flex border-collapse flex-col items-center">
  <div
    class="flex h-12 w-100 flex-row items-center rounded-t-md border-1 border-tertiary border-opacity-35"
  >
    <TerminalButtons />
  </div>
  <div
    class="h-64 w-100 rounded-b-md border-1 border-t-0 border-tertiary border-opacity-35"
  >
    <div class="ml-4 mt-7 flex flex-col gap-2.5">
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-yellowTerminal">~ </span>juanburg/
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sixtenary">name: </span>"Juan Burgueño",
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sixtenary">i'm: </span>"Front-End Developer",
      </p>
      <p class="font-serif text-base font-medium tracking-text text-secondary">
        <span class="text-sixtenary">description: </span>"I'm from Canelones,
        Uruguay. I focus on design and user experience, looking for a usable,
        inclusive and accessible result for all people, along with a clean and
        scalable code.",
      </p>
    </div>
  </div>
</section>
