<div class="ml-4 flex flex-row items-center justify-start gap-3">
  <span class="bg-redTerminal h-4 w-4 rounded-full"></span>
  <span class="bg-yellowTerminal h-4 w-4 rounded-full"></span>
  <span class="bg-greenTerminal h-4 w-4 rounded-full"></span>
</div>
