---
import GhIcon from "../icons/gh.astro";
import InIcon from "../icons/linkedin.astro";
import XIcon from "../icons/twitter.astro";
---

<section
  class="mx-5 flex w-full flex-row items-center justify-between border-t-1 border-borderWindow border-opacity-35 py-10"
>
  <span
    class="text-sm font-normal tracking-text text-secondary"
    aria-hidden="true">© 2024 Juan Burgueño. All Rights Reserved.</span
  >
  <nav>
    <ul class="flex flex-row items-center gap-x-5">
      <li>
        <a
          class="inline-block transition hover:scale-125 hover:opacity-70"
          href="https://github.com/juanburg98"
          target="_blank"
          rel="noopener"
          aria-label="View Github Profile"
        >
          <GhIcon class="text-secondary" />
        </a>
      </li>
      <li>
        <a
          class="inline-block transition hover:scale-125 hover:opacity-70"
          href="https://twitter.com/juanburg98"
          target="_blank"
          rel="noopener"
          aria-label="View Twitter Profile"
        >
          <XIcon class="text-secondary" />
        </a>
      </li>
      <li>
        <a
          class="inline-block transition hover:scale-125 hover:opacity-70"
          href="https://www.linkedin.com/in/juanburg/"
          target="_blank"
          rel="noopener"
          aria-label="View LinkedIn Profile"
        >
          <InIcon class="text-secondary" />
        </a>
      </li>
    </ul>
  </nav>
</section>
