<section class="mx-5 w-full">
  <div class="mb-10 mt-10 flex flex-col place-items-center">
    <h1 class="mb-5 font-mono text-5xl font-bold tracking-title text-primary">
      Juan Burgueño
    </h1>
    <span class="font-mono text-xl font-semibold tracking-title text-primary"
      >Front-End Developer</span
    >
    <p
      class="w-1/2 text-center text-base font-normal tracking-text text-secondary"
    >
      I'm from Canelones, Uruguay. I focus on design and user experience,
      looking for a usable, inclusive and accessible result for all people,
      along with a clean and scalable code.
    </p>
  </div>
</section>
