<section class="mx-5 flex w-full flex-row items-center justify-between py-10">
  <a class="inline-block transition hover:scale-125 hover:opacity-70" href="/">
    <img class="w-10" src="./logo.svg" alt="Website logo" />
  </a>
  <a href="/contact">
    <button
      class="cursor-pointer rounded-lg bg-quaternary px-4 py-2 font-mono text-sm font-medium text-quinary hover:bg-opacity-70"
      type="button">Contact</button
    >
  </a>
</section>
