---
interface Props {
  title: string;
}

const { title } = Astro.props;
const ogImage = "";
const ogUrl = "";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta
      name="description"
      content="Empresa digital especializada en el desarrollo de sitios web y aplicaciones móviles"
    />
    <meta
      name="keywords"
      content="sitios web,diseño web,software,aplicaciones móviles,soluciones digitales,desarrollo mobile,desarrollo web,aplicaciones para celular,tecnología web,advertising,agency,digital,ads,publicidad,desarrollo de sitios web,desarrollo de páginas web,programación web,desarrollo front-end,desarrollo back-end,creación de sitios web,desarrollo web personalizado,optimización web,desarrollo de aplicaciones móviles,diseño de aplicaciones móviles,desarrollo ios,desarrollo android,programación de aplicaciones móviles,desarrollo de apps nativas,desarrollo de apps híbridas,desarrollo de interfaces móviles,creación de apps personalizadas"
    />
    <meta name="author" content="Emalabs" />
    <meta name="geo.region" content="UY-MO" />
    <meta name="geo.placename" content="Montevideo" />
    <meta name="geo.position" content="-34.904108;-56.158101" />
    <meta name="ICBM" content="-34.904108, -56.158101" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:image" content={ogImage} />
    <meta
      name="og:title"
      content="Desarrollo de sitios web y aplicaciones móviles | Emalabs"
    />
    <meta
      name="og:description"
      content="Empresa digital especializada en el desarrollo de sitios web y aplicaciones móviles"
    />
    <meta name="og:url" content={ogUrl} />
    <meta name="og:site_name" content="Emalabs" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_UY" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,700&display=swap");
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: #fcfcf7;
  }
</style>
